
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Controle de Gastos Tavin{% endblock %}</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100" class="bg-body">
    <style>
        html[data-bs-theme="light"] body {
            background-color: whitesmoke;
        }
    
        html[data-bs-theme="dark"] body {
            background-color: var(--bs-body-bg);
        }
    </style>
    
<nav class="navbar navbar-dark py-0" style="background-color: #2f3a40;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2"
           href="{% url 'dashboard' %}">
            <img src="/media/logo.png"
                 alt="Carteira Digital"
                 style="height:85px;">
            <span class="fs-4 fw-semibold">Controle de Gastos</span>
            <img src="/media/account_balance_wallet_white.png" style="height: 27px; width: 32px;">
        </a>

        <ul class="navbar-nav flex-row gap-4">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_movimentacoes' %}">Movimentações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_categorias' %}">Categorias</a>
            </li>
            
            <button
                class="btn btn"
                id="themeToggle"
                type="button">
                🌙
            </button>
            
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link">
                    Sair
                </button>
            </form>
            
        </ul>
    </div>
</nav>
<main class="flex-grow-1">
<div class="container py-4">
    {% block content %}
    {% endblock %}
</div>
</main>
<footer class="bg-dark text-light py-3 mt-auto">
    {% block footer %}
        <div class="container text-center small">
            © {% now "Y" %} Controle de Gastos Tavin ·
            <a href="mailto:contato@tavindev.com" class="text-light text-decoration-none">
                contato@tavindev.com ·
            </a>
            <a class="text-light text-decoration-none" href="{% url 'info' %}">Sobre Nós</a>
        </div>
        
    {% endblock %}
</footer>

<script>
    const toggleButton = document.getElementById("themeToggle");
    const html = document.documentElement;

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        html.setAttribute("data-bs-theme", savedTheme);
        toggleButton.textContent = savedTheme === "dark" ? "☀️" : "🌙";
    }

    toggleButton.addEventListener("click", () => {
        const currentTheme = html.getAttribute("data-bs-theme");
        const newTheme = currentTheme === "dark" ? "light" : "dark";

        html.setAttribute("data-bs-theme", newTheme);
        localStorage.setItem("theme", newTheme);

        toggleButton.textContent = newTheme === "dark" ? "☀️" : "🌙";
    });
</script>

</body>

</html>