
{% extends 'finances/base.html' %}

{% block content %}

<h1 class="mb-4">
    Resumo Financeiro
    <img src="/media/payments_black.png" style="height: 35px; width: 35px;">
</h1>

<div class="d-flex gap-4 mb-5">
    <div class="card bg-success text-white p-4" style="min-width: 200px;">
        <h5>
            Receitas
            <img src="/media/trending_up_white.png" style="height: 25px; width: 25px;">
        </h5>
        
        <h2>R$ {{ receitas }}</h2>
    </div>

    <div class="card bg-danger text-white p-4" style="min-width: 200px;">
        <h5>
            Despesas
            <img src="/media/trending_down_white.png" style="height: 25px; width: 25px;">
        </h5>
        <h2>R$ {{ despesas }}</h2>
    </div>

    <div class="card bg-primary text-white p-4" style="min-width: 200px;">
        <h5>
            Saldo
            <img src="/media/bar_chart_white.png" style="height: 25px; width: 25px;">
        </h5>
        <h2>R$ {{ saldo }}</h2>
    </div>
</div>

<h3 class="mb-3">Totais por Categoria</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Total (R$)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in totais_por_categoria %}
        <tr>
            <td>{{ item.categoria__nome }}</td>
            <td class="{% if item.categoria__tipo == 'receita' %}text-success{% else %}text-danger{% endif %}">
                {{ item.categoria__tipo|title }}
            </td>
            <td>R$ {{ item.total }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma movimentação cadastrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}