{% extends 'finances/base.html' %}

{% block content %}
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <h1>Sobre os Sistemas Tavin:</h1>
    <div>
        <h4 style="color: whitesmoke;">oioi</h4>
    </div>
    
    <p>
        Nós somos uma companhia que desenvolve sistemas e soluções inteligentes e práticas.
    <p>
        Nosso objetivo é solucionar os problemas de nossos clientes de maneira rápida e barata.
    <p>
        Priorizamos o compromisso com o cliente e o suporte rápido e eficiente.
    <p>
        A rede Tavin de soluções digitais já conta com mais de 5 sistemas que solucionam problemas em 0 empresas.
    </p>

    <div>
    <img src="/media/logo.png" style="width: 250px;">
    <p>
        Agradecemos por usar nossos serviços!
    </p>
</div>

{% endblock %}